{% extends 'base.html' %}

{% block content %}
    <section class="main main--contact">
        <div class="welcome-section">
            <h2>Welcome to the Group Chat!</h2>
        </div>

        {% if 'user' in session %}
        <div class="chat-container">
            <div class="chat-messages" style="width: 100%; text-align: center;">
                {% for message in messages %}
                    <div class="message-container">
                        <p><strong>{{ message['username'] }}:</strong> {{ message['message'] }}</p>
                    </div>
                {% endfor %}
            </div>
        
            <div class="message-form" style="width: 100%; text-align: center;">
                <form method="POST" action="{{ url_for('group') }}">
                    <div class="form-group" style="display: inline-block;">
                        <label for="message">Write a message:</label>
                        <input type="text" name="message" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
        
        {% else %}
            <div class="general-information" style="text-align: center;">
                <h2>Please log in to join the chat.</h2>
            </div>
        {% endif %}
    </section>
{% endblock %}
