<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width">
    <title>Our Apartment</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body>
    <header class="header">
        <h1>Apartment for 6 stars</h1>
        
        <nav class="nav">
            <a href="{{ url_for('home') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('home') }}">
                About us
            </a>
            <a href="{{ url_for('contact') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('contact') }}">
                Contact
            </a>
            <a href="{{ url_for('energy') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('energy') }}">
                Energy
            </a>
            <a href="{{ url_for('tenant') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('tenant') }}">
                Profile
            </a>
            <a href="{{ url_for('group') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('group') }}">
                Group
            </a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('logout') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('logout') }}">
                    Log out
                </a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav__link {{ 'nav__link--active' if request.path == url_for('login') }}">
                    Log in
                </a>
            {% endif %}          
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>
