{% extends 'base.html' %}

{% block content %}
<section class="main main--about">
    <div class="welcome-section">
        <h2>Welcome to our apartment</h2>
        <p class="sub-heading">Where Quality Meets Comfort</p>
        <p class="description">
            
        <h2>We are looking for a roommate!!!</h2>

        <h2>Here's a bit about us:</h2>
    </div>
    <div class="projects">
        {% for news_item in news[:3] %}
            <div class="project-card">
                <img src="{{ news_item.image_url }}" alt="{{ news_item.title }}" class="project-card__image">
                <div class="project-card__meta">
                    <h3 class="project-card__name">{{ news_item.title }}</h3>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
