{% extends "base.html" %}
{% block content %}
    <section class="main main--contact">
        <div class="welcome-section">
            <h2>Here you can log in to our apartment!</h2>
        </div>

        <div class="contact-container">
            <div class="contact-form" style="text-align: center;">
                {% if 'user' in session %}
                    <h2>Welcome, {{ session['user']['username'] }}!</h2>
                    <h2>You are logged in.</h2> <br>
                    <h2>You can choose tenant page:</h2>

                    <div class="form-group" style="text-align: center;">
                        <a href="/tenant" class="btn btn-primary">Information</a> 
                        <a href="/energy" class="btn btn-primary">Energy</a> <br> <br> <br>
                        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
                    </div>                    
                    
                {% else %}
                    <form method="POST" action="{{ url_for('login') }}" class="contact-form" style="text-align: center;">
                        {{ form.hidden_tag() }}

                        <div class="form-group" style="text-align: center;">
                            <label for="email">Email:</label>
                            {{ form.email(class="form-control", placeholder="Enter your email", required="required") }}
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <label for="password">Password:</label>
                            {{ form.password(class="form-control", placeholder="Enter your password", required="required") }}
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <label for="tenant_page_choice">Choose Tenant Page:</label>
                            <select id="tenant_page_choice" name="tenant_page_choice">
                                <option value="energy">Energy</option>
                                <option value="information">Information</option>
                            </select>
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>

                    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
                {% endif %}
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash alert alert-info">{{ messages[0] }}</div>
                {% endif %}
            {% endwith %}
        </div>
    </section>
{% endblock %}
