{% extends 'base.html' %}

{% block content %}
    <section class="main main--contact">
        <div class="welcome-section">
            <h2>Here you can see your information!</h2>
        </div>

        {% if 'user' in session %}
            <div class="user-information" style="text-align: center;">
                {% with tenant = tenants_collection.find_one({'email': session['user']['email']}) %}
                    {% if tenant %}
                        <h2>Name: {{ tenant['name'] }}</h2>
                        <h2>Surname: {{ tenant['surname'] }}</h2>
                        <h2>Room Number: {{ tenant['room_number'] }}</h2>
                        <h2>Rental Dates: {{ tenant['rental_dates']['start_date'] }} to {{ tenant['rental_dates']['end_date'] }}</p>
                        <h2>Email: {{ tenant['email'] }}</h2>
                    {% else %}
                        <h2>No tenant information found for the logged-in user.</h2>
                    {% endif %}
                {% endwith %}
            </div>
        {% else %}
            <div class="general-information" style="text-align: center;">
                <h2>Please log in to view your information.</h2>
            </div>
        {% endif %}
    </section>
{% endblock %}
